SIRA-Notificaciones/Web References/wsSiraManifiestos/ConsultaManifiestos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://ws.consultamanifiestos.recintos.www.ventanillaunica.gob.mx" targetNamespace="http://ws.consultamanifiestos.recintos.www.ventanillaunica.gob.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="consultaManifiesto">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:manifestRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultaManifiestoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:manifestResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="manifestRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="camir" type="xsd:string" />
      <xsd:element minOccurs="0" name="trafico" type="xsd:string" />
      <xsd:element minOccurs="0" name="manifiesto" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="manifestResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroManifest" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="masters" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mensajes" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultaManifiesto" type="ns0:consultaManifiesto" />
  <xsd:element name="consultaManifiestoResponse" type="ns0:consultaManifiestoResponse" />
</xsd:schema>