SIRA-Notificaciones/Web References/wsSiraGuias/ConsultaDetalleGuia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://ws.consultadetallemanifiestos.recintos.www.ventanillaunica.gob.mx" targetNamespace="http://ws.consultadetallemanifiestos.recintos.www.ventanillaunica.gob.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="notificacionIngresoMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:manifiestoDetalleRequest" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="notificacionIngresoMercanciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:manifiestoDetalleResponse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="manifiestoDetalleRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="camir" type="xsd:string" />
      <xsd:element minOccurs="0" name="trafico" type="xsd:string" />
      <xsd:element minOccurs="0" name="manifiesto" type="xsd:string" />
      <xsd:element minOccurs="0" name="guiaMaster" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="manifiestoDetalleResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="transporte" type="ns0:InformacionDeTransporte" />
      <xsd:element minOccurs="0" name="guiaMaster" type="ns0:InformacionBlMaster" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mensajes" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionOperacionGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consecutivo" type="xsd:string" />
      <xsd:element minOccurs="0" name="ideAsociado" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="tipoMovimiento" type="xsd:long" />
      <xsd:element minOccurs="0" name="detalleMovimiento" type="xsd:long" />
      <xsd:element minOccurs="0" name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="cveRecintoFiscalizado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionBlMaster">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroGuiaBl" type="xsd:string" />
      <xsd:element minOccurs="0" name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="valorDeclarado" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" type="xsd:double" />
      <xsd:element minOccurs="0" name="umv" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" type="xsd:double" />
      <xsd:element minOccurs="0" name="idParcialidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contenedor" nillable="true" type="ns0:InformacionContenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDePersonas">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tipoPersona" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
      <xsd:element minOccurs="0" name="calleDomicilio" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroInterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroExterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="cp" type="xsd:string" />
      <xsd:element minOccurs="0" name="municipio" type="xsd:string" />
      <xsd:element minOccurs="0" name="entidadFederativa" type="xsd:string" />
      <xsd:element minOccurs="0" name="pais" type="xsd:string" />
      <xsd:element minOccurs="0" name="rfcOTaxId" type="xsd:string" />
      <xsd:element minOccurs="0" name="correoElectronico" type="xsd:string" />
      <xsd:element minOccurs="0" name="ciudad" type="xsd:string" />
      <xsd:element minOccurs="0" name="contacto" type="xsd:string" />
      <xsd:element minOccurs="0" name="telefono" type="xsd:long" />
      <xsd:element minOccurs="0" name="correoContacto" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionContenedor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="iniciales" type="xsd:string" />
      <xsd:element minOccurs="0" name="numero" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipo" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="sello" nillable="true" type="ns0:InformacionDeSellos" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionGuiaHouse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroGuiaBl" type="xsd:string" />
      <xsd:element minOccurs="0" name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="valorDeclarado" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" type="xsd:double" />
      <xsd:element minOccurs="0" name="umv" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" type="xsd:double" />
      <xsd:element minOccurs="0" name="idParcialidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="pais" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="valor" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" type="xsd:string" />
      <xsd:element minOccurs="0" name="cantidad" type="xsd:double" />
      <xsd:element minOccurs="0" name="umc" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" type="xsd:double" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="vin" nillable="true" type="ns0:InformacionDeVin" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="imo" nillable="true" type="ns0:InformacionDeImo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeImo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="imo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeVin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vin" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeSellos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="candado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeTransporte">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroVueloBuqueViajeImo" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTransporte" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaHoraDeArribo" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="origenVueloBuque" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroManifiesto" type="xsd:string" />
      <xsd:element minOccurs="0" name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="notificacionIngresoMercancia" type="ns0:notificacionIngresoMercancia" />
  <xsd:element name="notificacionIngresoMercanciaResponse" type="ns0:notificacionIngresoMercanciaResponse" />
  <xsd:element name="ManifiestoDetalleResponse" type="ns0:manifiestoDetalleResponse" />
  <xsd:element name="InformacionOperacionGeneral" type="ns0:InformacionOperacionGeneral" />
  <xsd:element name="InformacionBlMaster" type="ns0:InformacionBlMaster" />
  <xsd:element name="InformacionDePersonas" type="ns0:InformacionDePersonas" />
  <xsd:element name="InformacionContenedor" type="ns0:InformacionContenedor" />
  <xsd:element name="InformacionGuiaHouse" type="ns0:InformacionGuiaHouse" />
  <xsd:element name="InformacionDeMercancia" type="ns0:InformacionDeMercancia" />
  <xsd:element name="InformacionDeTransporte" type="ns0:InformacionDeTransporte" />
</xsd:schema>