SIRA-Notificaciones/Web References/wsSira/OperacionEntradaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://service.common.www.ventanillaunica.gob.mx/" targetNamespace="http://service.common.www.ventanillaunica.gob.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="ceAgregacionMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionUnion" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ceAgregacionMercanciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ceDesagregacionMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDesUnion" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ceDesagregacionMercanciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consolidacionMaster">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeConsolidacion" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consolidacionMasterResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="desconsolidacionMaster">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDesconsolidacion" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="desconsolidacionMasterResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Exception">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="incidenciaMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionIncidencia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="incidenciaMercanciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoFlujoAlterno">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoFlujoAlterno" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoFlujoAlternoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoParcial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoParcial" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoParcialResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoSimple">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoSimple" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoSimpleResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoSinID">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoSinIdAsociado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoSinIDResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="notificacionIngresoMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:OperacionGuiaP0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="notificacionIngresoMercanciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rechazo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeRechazo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="rechazoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salidaPedimento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionSalidaPedimento" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salidaPedimentoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salidaTransferencia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionSalidaTransferencia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salidaTransferenciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="subdivisionMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeSubdivision" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="subdivisionMercanciaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="traspaleoContenedor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionTraspaleo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="traspaleoContenedorResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:Respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionUnion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercanciaOrigen" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" name="mercanciaDestino" type="ns0:InformacionDeMercancia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionOperacionGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consecutivo" type="xsd:string" />
      <xsd:element name="idAsociado" type="xsd:string" />
      <xsd:element name="fechaRegistro" type="xsd:dateTime" />
      <xsd:element name="tipoMovimiento" type="xsd:long" />
      <xsd:element name="detalleMovimiento" type="xsd:long" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element name="cveRecintoFiscalizado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeMercancia">
    <xsd:sequence>
      <xsd:element name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="pais" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcion" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="valor" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="cantidad" type="xsd:double" />
      <xsd:element minOccurs="0" name="umc" nillable="true" type="xsd:string" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="vin" nillable="true" type="ns0:InformacionDeVin" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="imo" nillable="true" type="ns0:InformacionDeImo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeImo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="imo" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeVin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vin" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneralRespuesta" type="ns0:InformacionOperacionGeneralRespuesta" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="informacionDeRespuesta" nillable="true" type="ns0:InformacionDeRespuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionOperacionGeneralRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consecutivo" type="xsd:string" />
      <xsd:element name="idAsociado" type="xsd:string" />
      <xsd:element name="fechaRegistro" type="xsd:dateTime" />
      <xsd:element name="tipoMovimiento" type="xsd:long" />
      <xsd:element name="detalleMovimiento" type="xsd:long" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element name="cveRecintoFiscalizado" type="xsd:string" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeRespuesta">
    <xsd:sequence>
      <xsd:element name="codigoError" type="xsd:string" />
      <xsd:element name="descripcionError" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDesUnion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="mercanciaOrigen" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercanciaDestino" nillable="true" type="ns0:InformacionDeMercancia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeConsolidacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="guiaMaster" type="ns0:InformacionBlMaster" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionBlMaster">
    <xsd:sequence>
      <xsd:element name="numeroGuiaBl" type="xsd:string" />
      <xsd:element name="caat" type="xsd:string" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="valorDeclarado" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" nillable="true" type="xsd:string" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="umv" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="idParcialidad" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="secuencia" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contenedor" nillable="true" type="ns0:InformacionContenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDePersonas">
    <xsd:sequence>
      <xsd:element name="tipoPersona" type="xsd:string" />
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element name="calleDomicilio" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroInterior" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroExterior" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="cp" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="municipio" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="entidadFederativa" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="pais" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="rfcOTaxId" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="correoElectronico" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ciudad" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="contacto" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="telefono" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="correoContacto" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionContenedor">
    <xsd:sequence>
      <xsd:element name="iniciales" type="xsd:string" />
      <xsd:element name="numero" type="xsd:string" />
      <xsd:element name="tipo" type="xsd:string" />
      <xsd:element name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="sello" nillable="true" type="ns0:InformacionDeSellos" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionGuiaHouse">
    <xsd:sequence>
      <xsd:element name="numeroGuiaBl" type="xsd:string" />
      <xsd:element name="caat" type="xsd:string" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="valorDeclarado" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" nillable="true" type="xsd:string" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="umv" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="idParcialidad" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="secuencia" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeSellos">
    <xsd:sequence>
      <xsd:element name="candado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDesconsolidacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionIncidencia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element name="numSecuencia" type="xsd:long" />
      <xsd:element name="numPeso" type="xsd:double" />
      <xsd:element name="numPiezas" type="xsd:long" />
      <xsd:element name="cveUmPiezas" type="xsd:string" />
      <xsd:element name="observaciones" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoFlujoAlterno">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngreso" type="ns0:InformacionIngreso" />
      <xsd:element minOccurs="0" name="transporte" type="ns0:InformacionDeTransporte" />
      <xsd:element minOccurs="0" name="guiaMaster" type="ns0:InformacionBlMaster" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionIngreso">
    <xsd:sequence>
      <xsd:element name="tipoMercancia" type="xsd:long" />
      <xsd:element name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeTransporte">
    <xsd:sequence>
      <xsd:element name="numeroVueloBuqueViajeImo" type="xsd:string" />
      <xsd:element name="tipoTransporte" type="xsd:string" />
      <xsd:element name="fechaHoraDeArribo" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="origenVueloBuque" nillable="true" type="xsd:string" />
      <xsd:element name="numeroManifiesto" type="xsd:string" />
      <xsd:element name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" nillable="true" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoParcial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngresoParcial" type="ns0:InformacionIngresoParcial" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionIngresoParcial">
    <xsd:sequence>
      <xsd:element name="tipoMercancia" type="xsd:long" />
      <xsd:element name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="totalParcialidades" nillable="true" type="xsd:long" />
      <xsd:element name="numeroParcialidad" type="xsd:long" />
      <xsd:element minOccurs="0" name="cantidad" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="umc" nillable="true" type="xsd:string" />
      <xsd:element name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoSimple">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngreso" type="ns0:InformacionIngreso" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoSinIdAsociado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element name="informacionIngreso" type="ns0:InformacionIngreso" />
      <xsd:element minOccurs="0" name="transporte" type="ns0:InformacionDeTransporte" />
      <xsd:element minOccurs="0" name="guiaMaster" nillable="true" type="ns0:InformacionBlMaster" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperacionGuiaP0">
    <xsd:sequence>
      <xsd:element name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="transporte" type="ns0:InformacionDeTransporte" />
      <xsd:element minOccurs="0" name="guiaMaster" type="ns0:InformacionBlMaster" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeRechazo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionRechazo" type="ns0:InformacionRechazo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionRechazo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="clasificacionRechazo" nillable="true" type="xsd:string" />
      <xsd:element name="descripcionRechazo" type="xsd:string" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionSalidaPedimento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element name="pedimento" type="xsd:long" />
      <xsd:element name="aduana" type="xsd:long" />
      <xsd:element name="patente" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionMercanciaPed" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionMercanciaPed">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMercancia" type="xsd:long" />
      <xsd:element name="idAsociado" type="xsd:long" />
      <xsd:element name="numSecuencia" type="xsd:long" />
      <xsd:element name="numPiezas" type="xsd:long" />
      <xsd:element name="cveUmPiezas" type="xsd:string" />
      <xsd:element name="numPeso" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionSalidaTransferencia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element name="cveRecintoFiscalizadoTransferencia" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="transferencia" nillable="true" type="ns0:InformacionTransf" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionTransf">
    <xsd:sequence>
      <xsd:element name="idAsociado" type="xsd:long" />
      <xsd:element minOccurs="0" name="numeroGuiaBl" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionMercanciaTrans" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionMercanciaTrans">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMercancia" type="xsd:long" />
      <xsd:element name="numSecuencia" type="xsd:long" />
      <xsd:element name="numPiezas" type="xsd:long" />
      <xsd:element name="cveUmPiezas" type="xsd:string" />
      <xsd:element name="numPeso" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeSubdivision">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionMercanciaSub" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionMercanciaSub">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idMercancia" type="xsd:long" />
      <xsd:element name="idAsociado" type="xsd:long" />
      <xsd:element name="numSecuencia" type="xsd:long" />
      <xsd:element name="numPiezas" type="xsd:long" />
      <xsd:element name="cveUmPiezas" type="xsd:string" />
      <xsd:element name="numPeso" type="xsd:double" />
      <xsd:element minOccurs="0" name="numSecuenciaD" type="xsd:long" />
      <xsd:element name="numPiezasD" type="xsd:long" />
      <xsd:element name="cveUmPiezasD" type="xsd:string" />
      <xsd:element name="numPesoD" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionTraspaleo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" name="contenedorOrigen" type="ns0:InformacionContenedor" />
      <xsd:element minOccurs="0" name="contenedorDestino" type="ns0:InformacionContenedor" />
      <xsd:element minOccurs="0" name="sellosContenedor" type="xsd:string" />
      <xsd:element minOccurs="0" name="sello" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ceAgregacionMercancia" type="ns0:ceAgregacionMercancia" />
  <xsd:element name="ceAgregacionMercanciaResponse" type="ns0:ceAgregacionMercanciaResponse" />
  <xsd:element name="ceDesagregacionMercancia" type="ns0:ceDesagregacionMercancia" />
  <xsd:element name="ceDesagregacionMercanciaResponse" type="ns0:ceDesagregacionMercanciaResponse" />
  <xsd:element name="consolidacionMaster" type="ns0:consolidacionMaster" />
  <xsd:element name="consolidacionMasterResponse" type="ns0:consolidacionMasterResponse" />
  <xsd:element name="desconsolidacionMaster" type="ns0:desconsolidacionMaster" />
  <xsd:element name="desconsolidacionMasterResponse" type="ns0:desconsolidacionMasterResponse" />
  <xsd:element name="Exception" type="ns0:Exception" />
  <xsd:element name="incidenciaMercancia" type="ns0:incidenciaMercancia" />
  <xsd:element name="incidenciaMercanciaResponse" type="ns0:incidenciaMercanciaResponse" />
  <xsd:element name="ingresoFlujoAlterno" type="ns0:ingresoFlujoAlterno" />
  <xsd:element name="ingresoFlujoAlternoResponse" type="ns0:ingresoFlujoAlternoResponse" />
  <xsd:element name="ingresoParcial" type="ns0:ingresoParcial" />
  <xsd:element name="ingresoParcialResponse" type="ns0:ingresoParcialResponse" />
  <xsd:element name="ingresoSimple" type="ns0:ingresoSimple" />
  <xsd:element name="ingresoSimpleResponse" type="ns0:ingresoSimpleResponse" />
  <xsd:element name="ingresoSinID" type="ns0:ingresoSinID" />
  <xsd:element name="ingresoSinIDResponse" type="ns0:ingresoSinIDResponse" />
  <xsd:element name="notificacionIngresoMercancia" type="ns0:notificacionIngresoMercancia" />
  <xsd:element name="notificacionIngresoMercanciaResponse" type="ns0:notificacionIngresoMercanciaResponse" />
  <xsd:element name="rechazo" type="ns0:rechazo" />
  <xsd:element name="rechazoResponse" type="ns0:rechazoResponse" />
  <xsd:element name="salidaPedimento" type="ns0:salidaPedimento" />
  <xsd:element name="salidaPedimentoResponse" type="ns0:salidaPedimentoResponse" />
  <xsd:element name="salidaTransferencia" type="ns0:salidaTransferencia" />
  <xsd:element name="salidaTransferenciaResponse" type="ns0:salidaTransferenciaResponse" />
  <xsd:element name="subdivisionMercancia" type="ns0:subdivisionMercancia" />
  <xsd:element name="subdivisionMercanciaResponse" type="ns0:subdivisionMercanciaResponse" />
  <xsd:element name="traspaleoContenedor" type="ns0:traspaleoContenedor" />
  <xsd:element name="traspaleoContenedorResponse" type="ns0:traspaleoContenedorResponse" />
  <xsd:element name="InformacionUnion" type="ns0:InformacionUnion" />
  <xsd:element name="InformacionOperacionGeneral" type="ns0:InformacionOperacionGeneral" />
  <xsd:element name="InformacionDeMercancia" type="ns0:InformacionDeMercancia" />
  <xsd:element name="Respuesta" type="ns0:Respuesta" />
  <xsd:element name="InformacionOperacionGeneralRespuesta" type="ns0:InformacionOperacionGeneralRespuesta" />
  <xsd:element name="InformacionDesUnion" type="ns0:InformacionDesUnion" />
  <xsd:element name="InformacionBlMaster" type="ns0:InformacionBlMaster" />
  <xsd:element name="InformacionDePersonas" type="ns0:InformacionDePersonas" />
  <xsd:element name="InformacionContenedor" type="ns0:InformacionContenedor" />
  <xsd:element name="InformacionGuiaHouse" type="ns0:InformacionGuiaHouse" />
  <xsd:element name="InformacionIncidencia" type="ns0:InformacionIncidencia" />
  <xsd:element name="InformacionDeIngresoFlujoAlterno" type="ns0:InformacionDeIngresoFlujoAlterno" />
  <xsd:element name="InformacionIngreso" type="ns0:InformacionIngreso" />
  <xsd:element name="InformacionDeTransporte" type="ns0:InformacionDeTransporte" />
  <xsd:element name="InformacionDeIngresoParcial" type="ns0:InformacionDeIngresoParcial" />
  <xsd:element name="InformacionIngresoParcial" type="ns0:InformacionIngresoParcial" />
  <xsd:element name="InformacionDeIngresoSimple" type="ns0:InformacionDeIngresoSimple" />
  <xsd:element name="InformacionDeIngresoSinIdAsociado" type="ns0:InformacionDeIngresoSinIdAsociado" />
  <xsd:element name="OperacionGuiaP0" type="ns0:OperacionGuiaP0" />
  <xsd:element name="InformacionDeRechazo" type="ns0:InformacionDeRechazo" />
  <xsd:element name="InformacionRechazo" type="ns0:InformacionRechazo" />
  <xsd:element name="InformacionSalidaPedimento" type="ns0:InformacionSalidaPedimento" />
  <xsd:element name="InformacionMercanciaPed" type="ns0:InformacionMercanciaPed" />
  <xsd:element name="InformacionSalidaTransferencia" type="ns0:InformacionSalidaTransferencia" />
  <xsd:element name="InformacionTransf" type="ns0:InformacionTransf" />
  <xsd:element name="InformacionMercanciaTrans" type="ns0:InformacionMercanciaTrans" />
  <xsd:element name="InformacionDeSubdivision" type="ns0:InformacionDeSubdivision" />
  <xsd:element name="InformacionMercanciaSub" type="ns0:InformacionMercanciaSub" />
</xsd:schema>