SIRA-Notificaciones/Web References/wsSira/OperacionEntradaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://service.common.www.ventanillaunica.gob.mx/" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OperacionEntradaService" targetNamespace="http://service.common.www.ventanillaunica.gob.mx/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp:UsingPolicy wssutil:Required="true" />
  <wsp1_2:Policy wssutil:Id="Wssp1.2-2007-Https-UsernameToken-Plain.xml">
    <ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp1_2:Policy>
        <ns1:TransportToken>
          <wsp1_2:Policy>
            <ns1:HttpsToken />
          </wsp1_2:Policy>
        </ns1:TransportToken>
        <ns1:AlgorithmSuite>
          <wsp1_2:Policy>
            <ns1:Basic256 />
          </wsp1_2:Policy>
        </ns1:AlgorithmSuite>
        <ns1:Layout>
          <wsp1_2:Policy>
            <ns1:Lax />
          </wsp1_2:Policy>
        </ns1:Layout>
        <ns1:IncludeTimestamp />
      </wsp1_2:Policy>
    </ns1:TransportBinding>
    <ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
      <wsp1_2:Policy>
        <ns2:UsernameToken ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
          <wsp1_2:Policy>
            <ns2:WssUsernameToken10 />
          </wsp1_2:Policy>
        </ns2:UsernameToken>
      </wsp1_2:Policy>
    </ns2:SupportingTokens>
  </wsp1_2:Policy>
  <import namespace="http://ws.ingresosimple.recintos.www.ventanillaunica.gob.mx" location="https://189.206.60.116:443/OperacionEntradaImpl/OperacionEntradaService?wsdl=1" />
  <types />
  <binding xmlns:ns3="http://ws.ingresosimple.recintos.www.ventanillaunica.gob.mx" name="OperacionEntradaPortBinding" type="ns3:OperacionEntradaRemote">
    <wsp:PolicyReference URI="#Wssp1.2-2007-Https-UsernameToken-Plain.xml" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ingresoSimple">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ingresoNoManifestado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ingresoParcial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="salidaPedimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="confirmacionDeSalida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ingresosParciales">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OperacionEntradaService">
    <port name="OperacionEntradaPort" binding="tns:OperacionEntradaPortBinding">
      <soap:address location="https://189.206.60.116:8104/OperacionEntradaImpl/OperacionEntradaService" />
    </port>
  </service>
</definitions>