SIRA-Notificaciones/Web References/wsSira/OperacionEntradaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://ws.ingresosimple.recintos.www.ventanillaunica.gob.mx" targetNamespace="http://ws.ingresosimple.recintos.www.ventanillaunica.gob.mx" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="confirmacionDeSalida">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionSalidaPedimento" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="confirmacionDeSalidaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoNoManifestado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoSinIdAsociado" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoNoManifestadoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoParcial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoParcial" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoParcialResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoSimple">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresoSimple" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresoSimpleResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresosParciales">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionDeIngresosParciales" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ingresosParcialesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salidaPedimento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:InformacionSalidaPedimento" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="salidaPedimentoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:respuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionSalidaPedimento">
    <xsd:sequence>
      <xsd:element name="informacionGeneral" type="ns0:InformacionOperacionGeneralSalidas" />
      <xsd:element name="tipoSalida" type="xsd:string" />
      <xsd:element name="master" type="ns0:SalidaGuiaMaster" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionOperacionGeneralSalidas">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consecutivo" type="xsd:string" />
      <xsd:element name="idAsociado" type="xsd:string" />
      <xsd:element name="fechaRegistro" type="xsd:dateTime" />
      <xsd:element name="tipoMovimiento" type="xsd:long" />
      <xsd:element name="detalleMovimiento" type="xsd:long" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element name="cveRecintoFiscalizado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalidaGuiaMaster">
    <xsd:sequence>
      <xsd:element name="pedimento" type="xsd:string" />
      <xsd:element name="aduana" type="xsd:string" />
      <xsd:element name="patente" type="xsd:string" />
      <xsd:element minOccurs="0" name="remesa" type="xsd:string" />
      <xsd:element minOccurs="0" name="partes2" type="xsd:string" />
      <xsd:element name="cvePedimento" type="xsd:string" />
      <xsd:element minOccurs="0" name="nIntregracion" type="xsd:string" />
      <xsd:element name="numMaster" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" type="ns0:SalidaMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="house" nillable="true" type="ns0:SalidaHouse" />
      <xsd:element minOccurs="0" name="contenedor" type="ns0:SalidaContenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalidaMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element name="numPiezas" type="xsd:long" />
      <xsd:element minOccurs="0" name="umc" type="xsd:string" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="ump" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalidaHouse">
    <xsd:sequence>
      <xsd:element name="numHouse" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="mercancia" type="ns0:SalidaMercancia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SalidaContenedor">
    <xsd:sequence>
      <xsd:element name="iniciales" type="xsd:string" />
      <xsd:element name="numero" type="xsd:long" />
      <xsd:element name="mercancia" type="ns0:SalidaMercancia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="respuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="informacionDeRespuesta" nillable="true" type="ns0:InformacionDeRespuesta" />
      <xsd:element minOccurs="0" name="informacionGeneralRespuesta" type="ns0:InformacionOperacionGeneralRespuesta" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeRespuesta">
    <xsd:sequence>
      <xsd:element name="codigoError" type="xsd:string" />
      <xsd:element name="descripcionError" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionOperacionGeneralRespuesta">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consecutivo" type="xsd:string" />
      <xsd:element name="idAsociado" type="xsd:string" />
      <xsd:element name="fechaRegistro" type="xsd:dateTime" />
      <xsd:element name="tipoMovimiento" type="xsd:long" />
      <xsd:element name="detalleMovimiento" type="xsd:long" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element name="cveRecintoFiscalizado" type="xsd:string" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoSinIdAsociado">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngreso" type="ns0:InformacionIngreso" />
      <xsd:element minOccurs="0" name="transporte" type="ns0:InformacionDeTransporte" />
      <xsd:element minOccurs="0" name="guiaMaster" type="ns0:InformacionBlMaster" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionOperacionGeneral">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="consecutivo" type="xsd:string" />
      <xsd:element name="idAsociado" type="xsd:string" />
      <xsd:element name="fechaRegistro" type="xsd:dateTime" />
      <xsd:element name="tipoMovimiento" type="xsd:long" />
      <xsd:element name="detalleMovimiento" type="xsd:long" />
      <xsd:element name="tipoOperacion" type="xsd:long" />
      <xsd:element name="cveRecintoFiscalizado" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoIngreso" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionIngreso">
    <xsd:sequence>
      <xsd:element name="tipoMercancia" type="xsd:long" />
      <xsd:element name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionBlMaster">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroGuiaBl" type="xsd:string" />
      <xsd:element minOccurs="0" name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="valorDeclarado" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" type="xsd:double" />
      <xsd:element minOccurs="0" name="umv" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" type="xsd:double" />
      <xsd:element minOccurs="0" name="idParcialidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contenedor" nillable="true" type="ns0:InformacionContenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDePersonas">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="tipoPersona" type="xsd:string" />
      <xsd:element name="nombre" type="xsd:string" />
      <xsd:element minOccurs="0" name="calleDomicilio" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroInterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroExterior" type="xsd:string" />
      <xsd:element minOccurs="0" name="cp" type="xsd:string" />
      <xsd:element minOccurs="0" name="municipio" type="xsd:string" />
      <xsd:element minOccurs="0" name="entidadFederativa" type="xsd:string" />
      <xsd:element minOccurs="0" name="pais" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="rfcOTaxId" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="correoElectronico" type="xsd:string" />
      <xsd:element minOccurs="0" name="ciudad" type="xsd:string" />
      <xsd:element minOccurs="0" name="contacto" type="xsd:string" />
      <xsd:element minOccurs="0" name="telefono" type="xsd:long" />
      <xsd:element minOccurs="0" name="correoContacto" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionContenedor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="iniciales" type="xsd:string" />
      <xsd:element minOccurs="0" name="numero" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipo" type="xsd:string" />
      <xsd:element minOccurs="0" name="estado" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="sello" nillable="true" type="ns0:InformacionDeSellos" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="ns0:InformacionGuiaHouse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionGuiaHouse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroGuiaBl" type="xsd:string" />
      <xsd:element minOccurs="0" name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoOperacion" type="xsd:long" />
      <xsd:element minOccurs="0" name="valorDeclarado" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" type="xsd:double" />
      <xsd:element minOccurs="0" name="umv" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" type="xsd:double" />
      <xsd:element minOccurs="0" name="idParcialidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:InformacionDeMercancia" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="personas" nillable="true" type="ns0:InformacionDePersonas" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contenedor" nillable="true" type="ns0:InformacionContenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element minOccurs="0" name="pais" type="xsd:string" />
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string" />
      <xsd:element minOccurs="0" name="valor" type="xsd:double" />
      <xsd:element minOccurs="0" name="moneda" type="xsd:string" />
      <xsd:element minOccurs="0" name="cantidad" type="xsd:double" />
      <xsd:element minOccurs="0" name="umc" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="volumen" type="xsd:double" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="vin" nillable="true" type="ns0:InformacionDeVin" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="imo" nillable="true" type="ns0:InformacionDeImo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeImo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="imo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeVin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vin" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeSellos">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="candado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeTransporte">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="numeroVueloBuqueViajeImo" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoTransporte" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaHoraDeArribo" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="origenVueloBuque" type="xsd:string" />
      <xsd:element minOccurs="0" name="numeroManifiesto" type="xsd:string" />
      <xsd:element minOccurs="0" name="caat" type="xsd:string" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="ump" type="xsd:string" />
      <xsd:element minOccurs="0" name="piezas" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoParcial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngresoParcial" type="ns0:InformacionIngresoParcial" />
      <xsd:element minOccurs="0" name="guiasHouse" type="ns0:GuiasHouseParcial" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionIngresoParcial">
    <xsd:sequence>
      <xsd:element name="tipoMercancia" type="xsd:long" />
      <xsd:element name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="numeroParcialidad" type="xsd:long" />
      <xsd:element minOccurs="0" name="cantidad" nillable="true" type="xsd:double" />
      <xsd:element minOccurs="0" name="umc" nillable="true" type="xsd:string" />
      <xsd:element name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="vins" type="ns0:InformacionDeVinParcial" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeVinParcial">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="vin" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuiasHouseParcial">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="guiaHouse" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoMercancia" type="xsd:long" />
      <xsd:element minOccurs="0" name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="numeroParcialidad" type="xsd:long" />
      <xsd:element minOccurs="0" name="peso" type="xsd:double" />
      <xsd:element minOccurs="0" name="cantidad" type="xsd:double" />
      <xsd:element minOccurs="0" name="umc" type="xsd:string" />
      <xsd:element minOccurs="0" name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresoSimple">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngreso" type="ns0:InformacionIngreso" />
      <xsd:element minOccurs="0" name="guiasHouse" type="ns0:GuiasHouse" />
      <xsd:element minOccurs="0" name="contenedores" type="ns0:Contenedores" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuiasHouse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="guiaHouse" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contenedores">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="contenedor" nillable="true" type="ns0:Contenedor" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contenedor">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="iniciales" type="xsd:string" />
      <xsd:element minOccurs="0" name="numero" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionDeIngresosParciales">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="informacionGeneral" type="ns0:InformacionOperacionGeneral" />
      <xsd:element minOccurs="0" name="informacionIngresoParcial" type="ns0:InformacionIngresosParciales" />
      <xsd:element minOccurs="0" name="guiasHouse" type="ns0:GuiasHouseParciales" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformacionIngresosParciales">
    <xsd:sequence>
      <xsd:element name="tipoMercancia" type="xsd:long" />
      <xsd:element name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element name="numeroParcialidad" type="xsd:long" />
      <xsd:element minOccurs="0" name="cantidad" nillable="true" type="xsd:double" />
      <xsd:element name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="vins" type="ns0:InformacionDeVinParcial" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:ParcialesMercancia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParcialesMercancia">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="secuencia" type="xsd:long" />
      <xsd:element name="numPiezas" type="xsd:long" />
      <xsd:element minOccurs="0" name="umc" type="xsd:string" />
      <xsd:element name="peso" type="xsd:double" />
      <xsd:element name="ump" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GuiasHouseParciales">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="guiaHouse" type="xsd:string" />
      <xsd:element minOccurs="0" name="tipoMercancia" type="xsd:long" />
      <xsd:element minOccurs="0" name="fechaInicioDescarga" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="fechaFinDescarga" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="numeroParcialidad" type="xsd:long" />
      <xsd:element minOccurs="0" name="cantidad" type="xsd:double" />
      <xsd:element minOccurs="0" name="condicionCarga" type="xsd:long" />
      <xsd:element minOccurs="0" name="observaciones" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="mercancia" nillable="true" type="ns0:ParcialesMercancia" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="confirmacionDeSalida" type="ns0:confirmacionDeSalida" />
  <xsd:element name="confirmacionDeSalidaResponse" type="ns0:confirmacionDeSalidaResponse" />
  <xsd:element name="ingresoNoManifestado" type="ns0:ingresoNoManifestado" />
  <xsd:element name="ingresoNoManifestadoResponse" type="ns0:ingresoNoManifestadoResponse" />
  <xsd:element name="ingresoParcial" type="ns0:ingresoParcial" />
  <xsd:element name="ingresoParcialResponse" type="ns0:ingresoParcialResponse" />
  <xsd:element name="ingresoSimple" type="ns0:ingresoSimple" />
  <xsd:element name="ingresoSimpleResponse" type="ns0:ingresoSimpleResponse" />
  <xsd:element name="ingresosParciales" type="ns0:ingresosParciales" />
  <xsd:element name="ingresosParcialesResponse" type="ns0:ingresosParcialesResponse" />
  <xsd:element name="salidaPedimento" type="ns0:salidaPedimento" />
  <xsd:element name="salidaPedimentoResponse" type="ns0:salidaPedimentoResponse" />
  <xsd:element name="InformacionSalidaPedimento" type="ns0:InformacionSalidaPedimento" />
  <xsd:element name="InformacionOperacionGeneralSalidas" type="ns0:InformacionOperacionGeneralSalidas" />
  <xsd:element name="SalidaGuiaMaster" type="ns0:SalidaGuiaMaster" />
  <xsd:element name="SalidaMercancia" type="ns0:SalidaMercancia" />
  <xsd:element name="SalidaHouse" type="ns0:SalidaHouse" />
  <xsd:element name="SalidaContenedor" type="ns0:SalidaContenedor" />
  <xsd:element name="InformacionOperacionGeneralRespuesta" type="ns0:InformacionOperacionGeneralRespuesta" />
  <xsd:element name="InformacionDeIngresoSinIdAsociado" type="ns0:InformacionDeIngresoSinIdAsociado" />
  <xsd:element name="InformacionOperacionGeneral" type="ns0:InformacionOperacionGeneral" />
  <xsd:element name="InformacionIngreso" type="ns0:InformacionIngreso" />
  <xsd:element name="InformacionBlMaster" type="ns0:InformacionBlMaster" />
  <xsd:element name="InformacionDePersonas" type="ns0:InformacionDePersonas" />
  <xsd:element name="InformacionContenedor" type="ns0:InformacionContenedor" />
  <xsd:element name="InformacionGuiaHouse" type="ns0:InformacionGuiaHouse" />
  <xsd:element name="InformacionDeMercancia" type="ns0:InformacionDeMercancia" />
  <xsd:element name="InformacionDeTransporte" type="ns0:InformacionDeTransporte" />
  <xsd:element name="InformacionDeIngresoParcial" type="ns0:InformacionDeIngresoParcial" />
  <xsd:element name="InformacionIngresoParcial" type="ns0:InformacionIngresoParcial" />
  <xsd:element name="GuiasHouseParcial" type="ns0:GuiasHouseParcial" />
  <xsd:element name="InformacionDeIngresoSimple" type="ns0:InformacionDeIngresoSimple" />
  <xsd:element name="GuiasHouse" type="ns0:GuiasHouse" />
  <xsd:element name="InformacionDeIngresosParciales" type="ns0:InformacionDeIngresosParciales" />
  <xsd:element name="InformacionIngresosParciales" type="ns0:InformacionIngresosParciales" />
  <xsd:element name="ParcialesMercancia" type="ns0:ParcialesMercancia" />
  <xsd:element name="GuiasHouseParciales" type="ns0:GuiasHouseParciales" />
</xsd:schema>